<md-toolbar color="primary">
  <span>{{title}}</span>
  <md-toolbar-row>
    <button md-raised-button color="accent" routerLink='/movies'>Movies</button>
    <button md-raised-button color="accent" routerLink='/characters'>Characters</button>
    <span></span>
  </md-toolbar-row>
</md-toolbar>

<router-outlet></router-outlet>
