<h3>{{character.name}}</h3>
Height: {{character.height}} <br/>
Weight: {{character.weight}} <br/>
Hair Color: {{character.hair_color}} <br/>
Skin Color: {{character.skin_color}} <br/>
Eye color: {{character.eye_color}} <br/>
Birth Date: {{character.birth_year}} <br/>
Gender: {{character.gender}} <br/>
